<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="accordion__container">
        <ul class="accordion__list">
            <li class="accordion__item accordion--active">
                <div class="accordion__head">
                    <h3 class="accordion__title">What is an accordion in design?</h3>
                    <div class="accordion__control">
                        <span class="sr-only">accordion toggle</span>
                        <span class="toggle__btn">
                            <i class="icon fa-solid fa-minus"></i>
                        </span><!-- .toggle__btn -->
                    </div><!-- .accordion__control -->
                </div><!-- .accordion__head -->

                <div class="accordion__content">
                    <div class="accordion__content-inner">
                        <p>
                            An accordion is a UI element that allows users to expand or collapse content within a web page or app. 
                            It works like a musical accordion — when one section is expanded, the others collapse. <br /><br />
                        </p>
                        <p><b>Here are some key features of accordions:</b></p>
                        <ul class="bullet-list">
                            <li>Consist of tabs or sections representing different content pieces</li>
                            <li>When a user clicks on a tab or section, it expands to reveal associated content</li>
                            <li>Other tabs or sections collapse to keep the interface clean and organized</li>
                        </ul><!-- .bullet-list -->
                    </div><!-- .accordion__content-inner -->
                </div><!-- .accordion__content -->
            </li><!-- .accordion__item -->

            <li class="accordion__item">
                <div class="accordion__head">
                    <h3 class="accordion__title">When to use an accordion?</h3>
                    <div class="accordion__control">
                        <span class="sr-only">accordion toggle</span>
                        <span class="toggle__btn">
                            <i class="icon fa-solid fa-plus"></i>
                        </span><!-- .toggle__btn -->
                    </div><!-- .accordion__control -->
                </div><!-- .accordion__head -->

                <div class="accordion__content">
                    <div class="accordion__content-inner">
                        <p>
                            Accordions are an effective way to present large amounts of content in a compact and organized way, without overwhelming users. 
                            Accordions are often used for FAQs, product specifications, or content that needs to be hidden initially but can be easily accessed if needed.
                        </p>
                    </div><!-- .accordion__content-inner -->
                </div><!-- .accordion__content -->
            </li><!-- .accordion__item -->
        </ul><!-- .accordion__list -->
    </div><!-- .accordion__container -->
</body>
</html>