<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="carousel__container swiper swiper-carousel">
        <div class="carousel__slides swiper-wrapper">
            <div class="carousel__item swiper-slide" data-slide-index="0" >
                <img src="/assets/images/eternals.jpg" alt="">
                <div class="carousel__content">
                    <h2 class="title-text--04">Eternals </h2>
                    <p class="en-text--11">
                        In 5000 BC, ten superpowered Eternals—Ajak, Sersi, Ikaris, Kingo, Sprite, Phastos, Makkari, Druig,
                        Gilgamesh, and Thena—are sent by the Celestial Arishem to Earth on their starship, the Domo, to
                        exterminate the invasive Deviants.
                    </p>
                </div>
            </div><!-- .carousel__item -->

            <div class="carousel__item swiper-slide" data-slide-index="1" >
                <img src="/assets/images/guardians-of-the-galaxy.jpg" alt="">
                <div class="carousel__content">
                    <h2 class="title-text--04">Guardians Of The Galaxy</h2>
                    <p class="en-text--11">
                        A group of intergalactic criminals must pull together to stop a fanatical warrior with plans to purge
                        the universe.
                    </p>
                </div>
            </div><!-- .carousel__item -->

            <div class="carousel__item swiper-slide" data-slide-index="2" >
                <img src="/assets/images/justice-league.jpg" alt="">
                <div class="carousel__content">
                    <h2 class="title-text--04">Justice League</h2>
                    <p class="en-text--11">
                        Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with
                        Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching
                        threat of catastrophic proportions.
                    </p>
                </div>
            </div><!-- .carousel__item -->

            <div class="carousel__item swiper-slide" data-slide-index="3" >
                <img src="/assets/images/spider-man.jpg" alt="">
                <div class="carousel__content">
                    <h2 class="title-text--04">Spider-Man: Far from Home</h2>
                    <p class="en-text--11">
                        Following the events of Avengers: Endgame (2019), Spider-Man must step up to take on new threats in a
                        world that has changed forever.
                    </p>
                </div>
            </div><!-- .carousel__item -->

            <div class="carousel__item swiper-slide" data-slide-index="4" >
                <img src="/assets/images/suicide-squad.jpg" alt="">
                <div class="carousel__content">
                    <h2 class="title-text--04">The Suicide Squad</h2>
                    <p class="en-text--11">
                        Supervillains Harley Quinn, Bloodsport, Peacemaker and a collection of nutty cons at Belle Reve
                        prison join the super-secret, super-shady Task Force X as they are dropped off at the remote, enemy-infused
                        island of Corto Maltese.
                    </p>
                </div>
            </div><!-- .carousel__item -->

            <div class="carousel__item swiper-slide" data-slide-index="5" >
                <img src="/assets/images/thor-ragnarok.jpg" alt="">
                <div class="carousel__content">
                    <h2 class="title-text--04">Thor: Ragnarok</h2>
                    <p class="en-text--11">
                        Imprisoned on the planet Sakaar, Thor must race against time to return to Asgard and stop Ragnarök,
                        the destruction of his world, at the hands of the powerful and ruthless villain Hela.
                    </p>
                </div>
            </div><!-- .carousel__item -->

            <div class="carousel__item swiper-slide" data-slide-index="6" >
                <img src="/assets/images/dr-strange.jpg" alt="">
                <div class="carousel__content">
                    <h2 class="title-text--04">Doctor Strange</h2>
                    <p class="en-text--11">
                        America Chavez and a version of Stephen Strange are chased by a demon in the space between universes
                        while searching for the Book of Vishanti
                    </p>
                </div>
            </div><!-- .carousel__item -->
        </div><!-- .carousel__slides -->

        <div class="carousel__control">
            <div class="swiper-button-prev">
                <span class="sr-only">이전</span>
                <i class="icon fa-solid fa-chevron-left"></i>
            </div>
            <div class="swiper-button-next">
                <span class="sr-only">이후</span>
                <i class="icon fa-solid fa-chevron-right"></i>
            </div>
        </div><!-- .carousel__control -->
        
        <div class="swiper-pagination"></div>
    </div><!-- .carousel__container -->
</body>
</html>