<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer__container">
        <div class="footer__wrapper">
            <div class="flogo">
                <span class="title-text--03">HANDBOOK <br /><span class="highlight-color--mute">SION'</span></span>
            </div><!-- .flogo -->

            <ul class="sns__list">
                <li>
                    <a href="/">
                        <i class="icon fa-brands fa-facebook highlight-color--mute"></i>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="icon fa-brands fa-x-twitter highlight-color--mute"></i>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="icon fa-brands fa-instagram highlight-color--mute"></i>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="icon fa-brands fa-youtube highlight-color--mute"></i>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="icon fa-brands fa-linkedin highlight-color--mute"></i>
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="icon fa-brands fa-github highlight-color--mute"></i>
                    </a>
                </li>
                <li>
                    <a href="/">            
                        <i class="icon fa-brands fa-discord highlight-color--mute"></i>
                    </a>
                </li>
            </ul><!-- .sns__list -->
        </div><!-- .footer__wrapper -->

        <hr />

        <div class="footer__wrapper">
            <address class="en-text--11 highlight-color--mute hightlight-font--secondary">© 2024 SION LEE. ALL RIGHT RESERVED.</address>
            <div class="fmenu">
                <span class="en-text--11 highlight-color--mute hightlight-font--secondary">I'm growing step by step</span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div><!-- .fmenu -->
        </div><!-- .footer__wrapper-->
    </div><!-- .footer__container -->
</body>
</html>