<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header__inner">
        <div id="logo">
            <a href="/">
                <i class="icon fa-solid fa-dove"></i>
                <span class="title-text--04 hightlight-color--gray">/</span>
                <span class="title-text--04">SION'HANDBOOK</span>
            </a>
        </div><!-- .logo -->


        <ul class="menu">
            <li>
                <a href="/template/about.html">
                    <span>About</span>
                </a>
            </li>
            <li>
                <a href="/template/animation.html">
                    <span>Animation</span>
                </a>
            </li>
            <li>
                <a href="/template/component.html">
                    <span>Component</span>
                </a>
            </li>
        </ul>
      
        
        <div class="single-btn__wrapper">
            <button class="primary__btn primary__btn--fill" onClick="alert('Ctrl+D 또는 Command+D를 눌러서 즐겨찾기에 등록해보세요!')">Bookmark</button>
        </div>

        <div id="menuToggle" class="menu-btn">
            <button class="burger">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </button>
        </div><!-- .menu-btn -->
    </div><!-- .header__inner -->
</body>
</html>