<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="toggle__container">
        <div class="toggle_btn">
            <span class="switch">
                <input type="checkbox" id="switch" class="swich__checkbox" value="off" />
                <label for="switch" class="switch__btn">
                    <span class="switch__btn--on" role="checkbox" aria-checked="true">ON</span>
                    <span class="switch__btn--off" role="checkbox" aria-checked="false">OFF</span>
                </label>
            </span>
        </div>
    </div>
</body>
</html>