@charset "utf-8";

/* ************************************** */
/* MEDIA QUERY
/* ************************************** */
@media (max-width: 540px) {
    .feature__inner {
        flex-direction: column;
    }

    .posts__content {
        padding: 24rem;
    }

    .modal__layout {
        padding: 30rem;
    }

    .form__container {
        padding: 20rem;
    }

    .form__field { 
        padding: 5rem 10rem; 
    }

    .swiper-slide-active {
        transform: scale(1);
    }
}