<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SION'HANDBOOK | About</title>

    <!-- STYLE -->
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/var.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/about.css">

    <!-- PLUGIN -->
    <script src="https://kit.fontawesome.com/f4fc74fe2d.js" crossorigin="anonymous"></script>
</head>
<body class="about-page">
    <header id="header"></header>

    <main>
        <div class="about__container">
            <div class="about__background">
                <div class="comparison-slider">
                    <div class="comparison-slider__list">
                        <div class="comparison-slider__item comparison-slider__item--fill">
                            <img src="/assets/images/about-title-fill.svg" />
                        </div><!-- .comparison-slider__item -->
                        
                        <div class="comparison-slider__item comparison-slider__item--dash">
                            <img src="/assets/images/about-title-dash.svg" />
                        </div><!-- .comparison-slider__item -->
                        
                        <div class="comparison-slider__controller">
                            <button class="comparison-slider__controller-button">
                                <span class="drag-icon">
                                    <i class="fa-solid fa-left-right"></i>
                                </span><!-- .drag-icon -->
                            </button><!-- .comparison-slider__controller-button -->
                        </div><!-- .comparison-slider__controller -->
                    </div><!-- .comparison-slider__list -->
                </div><!-- .comparison-slider -->

                <div class="about__content">
                    <p class="en-text--09">I take great interest in user interactions and continuously seek to enhance UI/UX. <br />Furthermore, optimizing for greater efficiency and effectiveness is a core aspect of <br />my responsibilities.</p>
                </div><!-- .about__content -->
            </div><!-- .about__background -->    
        </div><!-- .about__container -->
    </main>

    <footer id="footer" class="footer__minimize"></footer>

    <!-- SCRIPT -->
    <script type="module" src="../src/ts/index.ts" defer></script>
    <script type="module" src="../src/ts/about.ts" defer></script>
</body>
</html>