<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SION'HANDBOOK | Animation</title>

    <!-- STYLE -->
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/var.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/animation.css">

    <!-- PLUGIN -->
    <script src="https://kit.fontawesome.com/f4fc74fe2d.js" crossorigin="anonymous"></script>

    <!-- SCRIPT -->
    <script type="module" src="/index.js"></script>
</head>
<body class="animation-page">
    <header id="header"></header>

    <main>
        <div class="animation__container">
            <div class="animation__warning">
                <img src="/assets/images/myface.png" alt="" />
                <h1 class="title-text--03">Sorry, this page is currently under preparation.</h1>
                <p class="en-text--07">We will be back with new features soon.</p>
            </div> <!-- .animation__warning -->

            <div class="progress-bar"></div>
        </div><!-- .animation__container -->
    </main>
</body>
</html>